{% extends 'dashboard.html' %}
{% block content %}
<div class="container">
  <div class="mb-3">
  
    <button type="submit" class="btn btn-primary" onclick='handlePrint()'><span <i class="fa fa-download" aria-hidden="true"></i> </span></button>
    <script type="text/javascript">        
      const handlePrint = () => {
        var originalContents = document.body.innerHTML;
        var printReport= document.getElementById('row').innerHTML;
        document.body.innerHTML = printReport;
        window.print();
        document.body.innerHTML = originalContents;
      }
   </script>  
  
</div>
</div>
  <div class = "row" id="row">
    <!--<div class = "col-sm-2">  
      <div class="side-nav">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link disabled">Side Menu</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa fa-dashboard"></i>Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa fa-area-chart"></i>Charts</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa fa-table"></i>Tables</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa fa-wrench"></i>Components</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa fa-file"></i>Pages</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa fa-link"></i>Links</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fas fa-calendar-check"></i>Calender</a>
        </li>
      </ul>
      </div>
    </div>-->
    <div class = "col-sm-6">
      <!-- <table class ="table table-primary table-bordered border-primary justify-content-start" >-->
      {% for key, value in dict.items() %}
        <!--<tr>
          <th class="text-bold mx-auto text-success">{{ key }}</th>-->
          <td>
            <table class="table table-sm table-warning table-bordered border-dark justify-content-left">
              
              <thead>
                <tr>
                  <th class="text-bold mx-auto text-success">{{ key }}</th>
                </tr>
                <tr>
                  {% for column in value.columns %}
                    <th class="text-white text-bold m-4 p-3 bg-success">{{ column }}</th>
                  {% endfor %}
                </tr>
              </thead>
              
              <tbody>
                {% for row in value.to_dict(orient='records') %}        
                 <tr>                    
                    {% for item in row.values() %}                 

                      <td class="text-dark fw-bold m-4 p-3">{{ item }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
       <!-- </tr>-->
      {% endfor %}
    </div>
  </div>
 
  <section id="about" class="bg-light py-5">
    <div class="container">
        <div class="text-center py-5">
            <h2 class="fw-bolder border-bottom border-info border-3 d-inline-block pb-1" data-aos="zoom-in">
                How to Trade 
            </h2>
            <p class="fs-5 mt-3" data-aos="zoom-in-up" data-aos-delay="50">These are stocks for swing trading List is updated only at EOD. </p>
        </div>
        <div class="col-xl-8 mx-auto mb-5">
            <div class="accordion">
                <!-- single accordion -->
                <div class="accordion-item rounded-3 shadow-sm mb-3" data-aos="fade-up">
                    <h5 class="accordion-header rounded-3 overflow-hidden">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            Technique
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="collapseOne">
                        <div class="accordion-body">
                           <p class = "text-dark"> As per the book Definitive Guide To Candlesticks <p>
                            <a href = "https://rigi.club/courses/YhCaMZvsQg" target="_blank">Click to buy</a>
                        </div>
                    </div>
                </div>
                <!-- single accordion -->
                <div class="accordion-item rounded-3 shadow-sm mb-3" data-aos="fade-up" data-aos-delay="100">
                    <h5 class="accordion-header rounded-3 overflow-hidden">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                            Money Management
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="collapseTwo">
                        <div class="accordion-body text-dark">
                            Leverage should not be used. 
                            Maximum of 10% of capital should be allocated to one trade. 
                            
                        </div>
                    </div>
                </div>
                
               

            </div>
        </div>
    </div>
</section>
{% endblock %}