

    <div class="container">
      <h1 class="text-center mt-3 mb-3 text-warning">{{ pattern }}</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Stock Name</th>
            <th>CMP </th>
            <th>%change</th>
            <!-- Add headers for other attributes -->
          </tr>
        </thead>
        <tbody>
          {% for index, row in stocks.iterrows() %}
          <tr>
            <td><a href="https://in.tradingview.com/chart/ONnfTdXs/?symbol={{ row['nsecode'] }}&target="_blank"" >{{ row['nsecode'] }}</a></td>
            <td>{{ row['close'] }}</td>
            <td>{{ row['per_chg'] }}</td>
            

           
            <!-- Add data for other attributes -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
 
