{% extends 'base.html' %}

 {% block content %} 
  <div class="row"> 
    <div class="col-sm-3">
      <div class="container">
        <h1 class="text-center mt-3 mb-3 text-warning"> Investment List</h1>
        <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Stock Name</th>            
            <!-- Add headers for other attributes -->
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td><a href="https://in.tradingview.com/chart/?symbol=HCLTECH"&target="_blank"  >HCLTECH</a></td>        
            
          </tr>
          <tr>
            <td><a href="https://in.tradingview.com/chart/?symbol=HPL"&target="_blank"  >HPL</a></td>        
            
          </tr>
          
        </tbody>
      </table>
      </div>
    </div>
  </div>
    
  

  <section id="about" class="bg-dark py-5">
    <div class="container">
        <div class="text-center py-5">
            <h2 class="fw-bolder border-bottom border-info border-3 d-inline-block pb-1" data-aos="zoom-in">
                How to Trade 
            </h2>
            <p class="fs-5 mt-3" data-aos="zoom-in-up" data-aos-delay="50">These are stocks for investment. </p>
        </div>
        <div class="col-xl-8 mx-auto mb-5">
            <div class="accordion">
                <!-- single accordion -->
                <div class="accordion-item rounded-3 shadow-sm mb-3" data-aos="fade-up">
                    <h5 class="accordion-header rounded-3 overflow-hidden">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            Technique
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="collapseOne">
                        <div class="accordion-body">
                           <p class = "text-dark">Buy should be as close as to the price given. 
                            SL is on daily closing basis. 
                        </div>
                    </div>
                </div>
                <!-- single accordion -->
                <div class="accordion-item rounded-3 shadow-sm mb-3" data-aos="fade-up" data-aos-delay="100">
                    <h5 class="accordion-header rounded-3 overflow-hidden">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                            Money Management
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="collapseTwo">
                        <div class="accordion-body text-dark">
                            Leverage should not be used. 
                            Maximum of 10% of capital should be allocated to one trade. 
                            
                        </div>
                    </div>
                </div>
                
               

            </div>
        </div>
    </div>
</section>
  {% endblock %}