<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="refresh" content="300">
  

  <title>easypicks</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- Favicon -->
  <link href="{{ url_for('static',filename='assets/img/brand/favicon.png')}}" rel="icon" type="image/png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- Icons -->                 
  <link href="{{ url_for('static' ,filename='assets/css/nucleo-icons.css')}}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <!-- Material Kit-->
  <link type="text/css" href="{{ url_for('static' ,filename='assets/css/material-kit.min.css')}}" rel="stylesheet">
</head>
<body>
  
  <div class="container">
    <h1 class="text-center mt-3 mb-3 text-warning">{{ pattern }}</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Stock Name</th>
          <th>CMP </th>
          <th>%change</th>
          <!-- Add headers for other attributes -->
        </tr>
      </thead>
      <tbody>
        {% for index, row in stocks.iterrows() %}
        <tr>
          <td><a href="https://in.tradingview.com/chart/ONnfTdXs/?symbol={{ row['nsecode'] }}&target="_blank"" >{{ row['nsecode'] }}</a></td>
          <td>{{ row['close'] }}</td>
          <td>{{ row['per_chg'] }}</td>
          

         
          <!-- Add data for other attributes -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <p class="text-center mt-5 "> Click <span> <a href="#help"><i>here</i> </span> to understand how to trade these stocks</a></p>
  </div>
  <div>
    <p id="dime" class = "text-dark text-center">Last updated at: <span id="time">time<span></p>
  </div>
  <script>
    async function gettime() {
      var d = new Date();
        document.getElementById("time").innerHTML = d.toLocaleString();
      }
   
    gettime()
  </script>

  <section id="about" class="bg-light py-5">
    <div class="container">
        <div class="text-center py-5">
            <h2 class="fw-bolder border-bottom border-info border-3 d-inline-block pb-1" data-aos="zoom-in">
                How to Trade 
            </h2>
            <p class="fs-5 mt-3" data-aos="zoom-in-up" data-aos-delay="50">One must be very diligent in trading these stocks. 
              These are high Momentum stocks and can easily go in the opposite direction
              with the same momentum. 
              There are two parts to a successful trade. 
              All good traders manage these two well</p>
        </div>
        <div class="col-xl-8 mx-auto mb-5">
            <div class="accordion">
                <!-- single accordion -->
                <div class="accordion-item rounded-3 shadow-sm mb-3" data-aos="fade-up">
                    <h5 class="accordion-header rounded-3 overflow-hidden">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            Technique
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="collapseOne">
                        <div class="accordion-body">
                           <p>Plot 5, 8, 13 emas on your charting software in 5 minute timeframe. 
                            Look to buy when stock reverses from any of the moving averages. 
                            SL should be kept below all the 3 emas.
                            Target price should be kept at 2 or 3 times risk. 
                            Alternatively you could use your own system as long as it has a clear SL identified. 
                        </div>
                    </div>
                </div>
                <!-- single accordion -->
                <div class="accordion-item rounded-3 shadow-sm mb-3" data-aos="fade-up" data-aos-delay="100">
                    <h5 class="accordion-header rounded-3 overflow-hidden">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                            Money Management
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="collapseTwo">
                        <div class="accordion-body">
                            Leverage should not be used. 
                            Maximum of 5% of capital should be allocated to one trade. 
                            Follow this religiously. 
                            Do not over trade. 
                            In case 2 trades hit SL, call it a day and come back 
                            afresh tomorrow. 
                        </div>
                    </div>
                </div>
               

            </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-white">
  <div class="container d-flex justify-content-between pt-3 pb-1">
      <p>@All rights reserved</p>
      <p>Designed by <a href="https://vcptrader.com" target="_blank" class="text-info text-decoration-none">Prady</a></p>
  </div>
</footer>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static' ,filename='assets/js/core/popper.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static' ,filename='assets/js/core/bootstrap.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static' ,filename='assets/js/plugins/perfect-scrollbar.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static' ,filename='assets/js/plugins/moment.min.js')}}"></script>


  <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
 

  <!--  Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/  -->


  <!--	Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/ -->
  <script src="{{ url_for('static' ,filename='assets/js/plugins/choices.min.js')}}" type="text/javascript"></script>


  <!--  Google Maps Plugin    -->
  

  <!-- Control Center for Material Kit parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static' ,filename='assets/js/material-kit.min.js')}}" type="text/javascript"></script>

 

  </body>
</html>