{% extends 'base.html' %}

 {% block content %} 
  
  <div class="container">
    <h1 class="text-center mt-3 mb-3 text-warning">{{ pattern }}</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Stock Name</th>
          <th>CMP </th>
          <th>%change</th>
          <!-- Add headers for other attributes -->
        </tr>
      </thead>
      <tbody>
        {% for index, row in stocks.iterrows() %}
        <tr>
          <td><a href="https://in.tradingview.com/chart/?symbol={{ row['nsecode'] }}"&target="_blank"  >{{ row['nsecode'] }}</a></td>
          <td>{{ row['close'] }}</td>
          <td>{{ row['per_chg'] }}</td>
          

         
          <!-- Add data for other attributes -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div>
    <p id="dime" class = "text-light text-center">Last updated at: <span id="time">time<span></p>
    <p> Next update in 5 minutes from now </p>
  </div>
  <script>
    async function gettime() {
      var d = new Date();
        document.getElementById("time").innerHTML = d.toLocaleString();
      }
   
    gettime()
  </script>

  <section id="about" class="bg-dark py-5">
    <div class="container">
        <div class="text-center py-5">
            <h2 class="fw-bolder border-bottom border-info border-3 d-inline-block pb-1" data-aos="zoom-in">
                How to Trade 
            </h2>
            <p class="fs-5 mt-3" data-aos="zoom-in-up" data-aos-delay="50">One must be very diligent in trading these stocks. 
              These are high Momentum stocks and can easily go in the opposite direction
              with the same momentum. 
              There are two parts to a successful trade. 
              All good traders manage these two well</p>
        </div>
        <div class="col-xl-8 mx-auto mb-5">
            <div class="accordion">
                <!-- single accordion -->
                <div class="accordion-item rounded-3 shadow-sm mb-3" data-aos="fade-up">
                    <h5 class="accordion-header rounded-3 overflow-hidden">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            Technique
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="collapseOne">
                        <div class="accordion-body">
                           <p class = "text-dark">Plot  8 emas on your charting software in 5 minute timeframe. 
                            Look to buy when stock reverses from the moving averages. 
                            SL should be kept below the ema and previous pivot low in 5 min tf.
                            Target price should be kept at 2 or 3 times risk. 
                            Alternatively you could use your own system as long as it has a clear SL identified. 
                        </div>
                    </div>
                </div>
                <!-- single accordion -->
                <div class="accordion-item rounded-3 shadow-sm mb-3" data-aos="fade-up" data-aos-delay="100">
                    <h5 class="accordion-header rounded-3 overflow-hidden">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                            Money Management
                        </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="collapseTwo">
                        <div class="accordion-body text-dark">
                            Leverage should not be used. 
                            Maximum of 5% of capital should be allocated to one trade. 
                            Follow this religiously. 
                            Do not over trade. 
                            In case 2 trades hit SL, call it a day and come back 
                            afresh tomorrow. 
                        </div>
                    </div>
                </div>
               

            </div>
        </div>
    </div>
</section>
  {% endblock %}